USE [master]
GO
/****** Object:  Database [Employee]    Script Date: 28-02-2021 00:27:43 ******/
CREATE DATABASE [Employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.RAVI\MSSQL\DATA\Employee.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.RAVI\MSSQL\DATA\Employee_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employee]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28-02-2021 00:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 28-02-2021 00:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[MobileNo] [nchar](10) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblEmployee]    Script Date: 28-02-2021 00:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmployee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TblEmployee] ON 

INSERT [dbo].[TblEmployee] ([EmpId], [Name], [Address], [Email], [MobileNo]) VALUES (1, N'Ravi', N'aroli', N'ravimori@gmail.com', N'0123456789')
SET IDENTITY_INSERT [dbo].[TblEmployee] OFF
/****** Object:  StoredProcedure [dbo].[Sp_AddEmployee]    Script Date: 28-02-2021 00:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_AddEmployee]
(
@Name nvarchar(50),
@Age nvarchar(50),
@Email nvarchar(50),
@Phone nchar(10)
)

AS
BEGIN
	INSERT INTO [dbo].[Employee]
           ([Name]
           ,[Age]
           ,[Email]
           ,[Phone]
           )
     VALUES
           (
		    @Name
           ,@Age
           ,@Email
           ,@Phone
           
		   )
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_GetEmployeeList]    Script Date: 28-02-2021 00:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ravi Mori>
-- Create date: <27-02-2021>
-- Description:	<Get employee List>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_GetEmployeeList]
AS
BEGIN
	SELECT [Eid]
      ,[Name]
      ,[Age]
      ,[Email]
      ,[Phone]
  FROM [dbo].[Employee]
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateEmployee]    Script Date: 28-02-2021 00:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_UpdateEmployee]
(
@Eid int,
@Name nvarchar(50),
@Age nvarchar(50),
@Email nvarchar(50),
@Phone nchar(10)
)
AS
BEGIN
	
	UPDATE [dbo].[Employee]
	   SET [Name] = @Name
		  ,[Age] = @Age
		  ,[Email] = @Email
		  ,[Phone] = @Phone
	 WHERE Eid=@Eid
END

GO
USE [master]
GO
